<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Movie2Comic</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="https://unpkg.com/ant-design-vue@2.0.0-rc.4/dist/antd.min.css">
	</script>
	<link rel="stylesheet" href="css/site.css">
</head>

<body>
	<div id="app">
		<a-layout>
			<a-layout-header :style="{ background: '#fff' }">
				<h1>Movie2Comic</h1>
				<a-menu theme="light">
				</a-menu>
			</a-layout-header>
			<a-layout-content style="min-height: 100vh; margin-top: 30px">
				<a-row type="flex" justify="center" align="top">
					<a-col :span="18">
						<a-space direction="vertical" style="width: 100%;">
							<a-steps v-model:current="selectedStage" type="navigation">
								<a-step :status="getStageStatus(stages.Create)" title="Start"
									description="Create project">
								</a-step>
								<a-step :status="getStageStatus(stages.Input)" title="Movie" description="Preview movie"
									:disabled="stages.Input > processStage">
								</a-step>
								<a-step :status="getStageStatus(stages.Frame)" title="Keyframes"
									description="Extract frames" :disabled="stages.Frame > processStage">
								</a-step>
								<a-step :status="getStageStatus(stages.Subtitle)" title="Subtitles"
									description="Generate subtitles" :disabled="stages.Subtitle > processStage">
								</a-step>
								<a-step :status="getStageStatus(stages.Style)" title="Styles"
									description="Transfer styles" :disabled="stages.Style > processStage">
								</a-step>
								<a-step :status="getStageStatus(stages.Output)" title="Comic"
									description="Get the comic" :disabled="stages.Output > processStage">
								</a-step>
							</a-steps>
							<div>
								<div v-show="selectedStage == stages.Create">
									<div v-if="!sessionId">
										<a-radio-group v-model:value="pages.start.type" button-style="solid"
											size="large">
											<a-radio-button :value="0">
												New
											</a-radio-button>
											<a-radio-button :value="1">
												Existed
											</a-radio-button>
										</a-radio-group>
										<div style="margin-top: 12px">
											<a-upload-dragger v-if="pages.start.type == 0" :action="sessionRootUrl"
												name="file" @change="onStartNew">
												<p class="ant-upload-drag-icon">
													<span class="mdi mdi-upload" style="font-size:xx-large;"></span>
												</p>
												<p class="ant-upload-text">
													Click or drag file to this area to upload
												</p>
												<p class="ant-upload-hint">
													Only one video file is allowed.
												</p>
											</a-upload-dragger>
											<div v-else>
												<a-input placeholder="session ID" v-model:value="pages.start.sid">
													<template v-slot:suffix>
														<a-button type="primary" @click="onStartExisted">OK</a-button>
													</template>
												</a-input>
											</div>
										</div>

									</div>
									<div v-else>
										Your session ID is {{ sessionId }}
									</div>
								</div>
								<div v-show="selectedStage == stages.Input">
									<video v-if="!!sessionId" controls :src="videoUrl" style="width: 100%;"></video>
								</div>
								<div v-show="selectedStage == stages.Frame">
									<a-space direction="vertical">
										<a-button @click="onWorkFrames" size="large" :disabled="state >= states.OnFrame"
											style="width: 100%;">
											Extract
										</a-button>
										<a-card title="Frames">
											<a-card-grid v-for="frame in pages.frames.result.frames"
												@click="onPreviewFrame(frame)" style="width:25%;text-align:center">
												<img :src="frameImageUrl(frame.name)" style="width: 100%" />
												<a-card-meta :title="readableSecondTimeString(frame.time)">
												</a-card-meta>
											</a-card-grid>
										</a-card>
									</a-space>
									<a-modal width="1080px" v-model:visible="pages.frames.preview.enable"
										:title="`${pages.frames.preview.frame.name} ${readableSecondTimeString(pages.frames.preview.frame.time)}`"
										:footer="null">
										<img :src="frameImageUrl(pages.frames.preview.frame.name)"
											style="width: 100%" />
									</a-modal>
								</div>
								<div v-show="selectedStage == stages.Subtitle">
									<a-space direction="vertical">
										<a-button @click="onWorkSubtitles" size="large"
											:disabled="state >= states.OnSubtitle" style="width: 100%;">
											Generate
										</a-button>
									</a-space>
								</div>
								<div v-show="selectedStage == stages.Style">
									<a-space direction="vertical">
										<a-button @click="onWorkStyles" size="large" :disabled="state >= states.OnStyle"
											style="width: 100%;">
											Transfer
										</a-button>
										<a-card title="Styled Frames">
											<a-card-grid v-for="frame in pages.styles.result.frames"
												@click="onPreviewStyledFrame(frame)"
												style="width:25%;text-align:center">
												<img :src="styledFrameImageUrl(frame.name)" style="width: 100%" />
											</a-card-grid>
										</a-card>
									</a-space>
									<a-modal width="1080px" v-model:visible="pages.styles.preview.enable"
										:title="`${pages.styles.preview.frame.name}`" :footer="null">
										<a-space>
											<a-card title="Original" style="width: 100%">
												<img :src="frameImageUrl(pages.styles.preview.frame.name)"
													style="width: 100%" />
											</a-card>
											<a-card title="Styled" style="width: 100%">
												<img :src="styledFrameImageUrl(pages.styles.preview.frame.name)"
													style="width: 100%" />
											</a-card>
										</a-space>
									</a-modal>
								</div>
								<div v-show="selectedStage == stages.Output">
									Comic
								</div>
							</div>
						</a-space>
					</a-col>
				</a-row>


			</a-layout-content>
			<a-layout-footer>
				Copyright <span class="mdi mdi-copyright"></span> 2020 -
				Movie2Comic - StardustDL - <a href="https://github.com/StardustDL/movie2comic"><span
						class="mdi mdi-github"></span>
					GitHub</a>
			</a-layout-footer>
		</a-layout>
	</div>

	<script src="https://unpkg.com/vue@3.0.4"></script>
	<script src="https://unpkg.com/ant-design-vue@2.0.0-rc.4/dist/antd.min.js"></script>

	<script src="js/site.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>