<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Movie2Comic</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="https://unpkg.com/ant-design-vue@2.0.0-rc.4/dist/antd.min.css">
	</script>
	<link rel="stylesheet" href="css/site.css">
</head>

<body>
	<div id="app">
		<a-layout>
			<a-layout-header :style="{ background: '#fff' }">
				<h1>Movie2Comic {{ sessionId != null ? ` - ${sessionId}` : "" }}</h1>
				<a-menu theme="light">
				</a-menu>
			</a-layout-header>
			<a-layout-content style="min-height: 100vh; margin-top: 30px">
				<a-row type="flex" justify="center" align="top">
					<a-col :span="18">
						<a-steps v-model:current="selectedStep" type="navigation">
							<a-step :status="getStepStatus(0)" title="Movie" description="Upload movie">
							</a-step>
							<a-step :status="getStepStatus(1)" title="Keyframes" description="Extract keyframes"
								:disabled="currentStep < 1">
							</a-step>
							<a-step :status="getStepStatus(2)" title="Subtitles" description="Generate subtitles"
								:disabled="currentStep < 2">
							</a-step>
							<a-step :status="getStepStatus(3)" title="Styles" description="Transfer styles"
								:disabled="currentStep < 3">
							</a-step>
							<a-step :status="getStepStatus(4)" title="Comic" description="Get the comic"
								:disabled="currentStep < 4">
							</a-step>
						</a-steps>
						<div v-show="selectedStep == 0" style="margin-top: 24px">
							<a-upload-dragger v-if="sessionId == null" :action="apiUrl + '/api/session'" name="file"
								@change="onUploadChange">
								<p class="ant-upload-drag-icon">
									<span class="mdi mdi-upload" style="font-size:xx-large;"></span>
								</p>
								<p class="ant-upload-text">
									Click or drag file to this area to upload
								</p>
								<p class="ant-upload-hint">
									Only one video file is allowed.
								</p>
							</a-upload-dragger>

							<video controls v-if="sessionId != null" :src="`${apiUrl}/api/session/${sessionId}/input`"
								class></video>

						</div>
						<div v-show="selectedStep == 1" style="margin-top: 24px">
							<a-button @click="onStartKeyframeExtractor">Start extracting keyframes</a-button>
							<a-button @click="onGetFrames">Get extracted keyframes</a-button>
							<a-card title="Keyframes">
								<a-card-grid v-for="frame in pages.p1.frames" style="width:25%;text-align:center">
									<img :src="`${apiUrl}/api/session/${sessionId}/keyframes/${frame.name}`"
										style="width: 100%" />
									<a-card-meta :title="readableSecondTimeString(frame.time)">
									</a-card-meta>
								</a-card-grid>
							</a-card>
						</div>
						<div v-show="selectedStep == 2" style="margin-top: 24px">
							Subtitles
						</div>
						<div v-show="selectedStep == 3" style="margin-top: 24px">
							Styles
						</div>
						<div v-show="selectedStep == 4" style="margin-top: 24px">
							Comic
						</div>
					</a-col>
				</a-row>


			</a-layout-content>
			<a-layout-footer>
				Copyright <span class="mdi mdi-copyright"></span> 2020 -
				Movie2Comic - StardustDL - <a href="https://github.com/StardustDL/movie2comic"><span
						class="mdi mdi-github"></span>
					GitHub</a>
			</a-layout-footer>
		</a-layout>
	</div>

	<script src="https://unpkg.com/vue@3.0.4"></script>
	<script src="https://unpkg.com/ant-design-vue@2.0.0-rc.4/dist/antd.min.js"></script>

	<script src="js/site.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>